
  /*===================
  General
  Colors:
  Primary:#000099
  Secondary:#0000E5
  Nav background-color: #DCDCDC
  =====================*/

  body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin:0;
  }

  h1{
    font-weight: 500;
    font-size: 40px;
    margin: 0;
  }

  h2{
    color:#000099;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
  }

  h3{
    color:#000099;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }

  /*================
  Navigation bar
  ==================*/

  header{
      background-color: #DCDCDC;
  }

  nav ul li{
    display: block;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
  }

  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li{
    float: left;
  }

  nav a{
     color:#000099;
  }

  nav a:hover{
    color:white;
  }

  a{
    text-decoration: none;
  }

  /*===================
  Container & Columns
  =====================*/

  .column-one{
    width: 49%;
    float: left;

  }
  .column-two{
    width: 49%;
    float: left;
  }

  .wrapper{
    min-width: 360px;
    margin: 0 auto;
  }

  #hero{
    background-color: #000099;
    padding: 60px 30px;
    color: #fff;
  }

  #portfolio{
    padding: 60px 30px;
  }

  #portfolio h3{
    font-size: 30px;

  }

  #about{
    background-color:#ccc7c7;
    padding: 60px 30px;
    clear: both;
  }

  #contact{
    background-color: #DCDCDC;
    padding: 60px 30px;
    clear: both;
  }

  /*===================
  Portfolio Image
  =====================*/

  #portfolio img{
    max-width: 95%;
  }

  #about img{
    max-width: 100%;
    margin: 0 auto;
  }

  .row{
    width: 100%;
    clear: both;
  }

  /*===================
  Buttons:
  Primary:#000099
  Secondary:#0000E5
  =====================*/

  .view-project{
    background-color: #000099;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0;
  }

  .view-project:hover{
    opacity: .8;
  }

  .view-project p{
    display: inline-block;
    width: 100px;
  }

  .button{
    border-radius:10px;
    border-style:solid;
    border-color:#000099;
    display: inline-block;
    font-family:inherit;
    color:#000099;
    font-size:16px;
    padding: 10px;
  }

  .button:hover{
    color:white;
    background-color:#000099;
  }

  /*===================
  Media Queries
  =====================*/

  /*===================
  Medium Devices
  =====================*/

  @media (max-width: 991px) {

  }

  /*===================
  Small Devices
  =====================*/

  @media (max-width: 767px) {

        #portfolio img{
          max-width: 100%;
          display: block;
          float: none;
          margin-top: 15px;
        }

        #portfolio p{
          display: inline-block;
          clear: both;
        }

        #portfolio h3{
          clear: both;
        }

        .view-project{
          float: right;
        }

        .column-one,.column-two{
        width: 100%;
        float: none;
        }

  }


  /*===================
  Extra Small Devices
  =====================*/

  @media (max-width: 575px) {


  }
