
  /*===================
  General
  Colors:
  Primary:#000099
  Secondary:#0000E5
  Nav background-color: #DCDCDC
  =====================*/

  body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin:0;
  }

  h1{
    color:#000099;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
  }

  h2{
    color:#000099;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
  }

  h3{
    color:#000099;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }

  a{
    text-decoration: none;
  }

  /*================
  Navigation bar
  ==================*/

  nav {
    background-color: #DCDCDC;
    padding: 15px 0;
  }

  nav a{
    display: block;
    color: #000099;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
  }

  nav a:hover{
    color:white;
  }

  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: left;
  }

  /*===================
  Container & Columns
  =====================*/

  #portfolio,#hero,#about,#contact,#intro,#work,#thankyou{
    padding: 50px;
  }

  #portfolio h3{
    margin-top: 20px;
  }

  #about{
    background-color: lightgrey;
  }

  #contact{
    background-color: darkgrey;
  }

  /*===================
  Portfolio Image
  =====================*/

  #portfolio img{
    display: block;
  }

  .view-project{
    display: inline-block;
    background-color: #000099;
    color: white;
    margin: 10px 0;
    padding: 5px 10px;
  }

  .view-project:hover{
    opacity: .8;
  }

  .view-project p{
    display: inline-block;
    width: 100px;
  }

  /*===================
  Buttons:
  Primary:#000099
  Secondary:#0000E5
  =====================*/

  .button{
    border-radius:10px;
    border-style:solid;
    border-color:#000099;
    display: inline-block;
    font-family:inherit;
    color:#000099;
    font-size:16px;
    margin:12px 0;
    padding: 10px;
  }

  .button:hover{
    color:white;
    background-color:#000099;
  }
