
  /*===================
  General
  Colors:
  Primary:#000099
  Secondary:#0000E5
  Nav background-color: #DCDCDC
  =====================*/

  body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin:0;
  }

  h1{
    font-weight: 500;
    font-size: 40px;
  }

  h2{
    color:#000099;
    font-weight: 500;
    font-size: 25px;
  }

  h2,h2.container{
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3{
    color:#000099;
    font-weight: 500;
    font-size: 20px;
  }

  /*================
  Navigation bar
  ==================*/

  header{
      background-color: #DCDCDC;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }

  nav ul li{
    display: block;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
  }

nav ul li:first-child{
  padding-left: 0px;
}

  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li{
    float: left;
  }

  nav a{
     color:#000099;
  }

  nav a:hover{
    color:white;
  }

  a{
    text-decoration: none;
  }


    .row{
      width: 100%;
      display: inline-block;
    }


  /*===================
  Container & Columns
  =====================*/

  .container{
    max-width: 1000px;
    margin: 0 auto;
  }


  .col-2{
    margin-right: 2%;
    width: 49%;
    float: left;
  }

  .col-3{
    margin-right: 2%;
    width: 33%;
    float: left;
  }

  .col-2:last-child{
    margin-right: 0%;
  }

  .port-work img{
      max-width: 100%;
    }

  .port-work-row img{
    width: 80%;
  }

  #portfolio .row:first-child{
    padding-bottom: 25px;
    border-bottom: 1px solid #f2f2f2;
  }

  #portfolio .row:last-child{
    margin-top: 25px;
  }

  #hero{
    background-color: #000099;
    color: #fff;
  }

  #about{
    background-color:#ccc7c7;
  }

  #contact{
    background-color: #DCDCDC;
  }

  .page-padding{
    padding: 60px 30px;
  }


  /*===================
  Portfolio Image
  =====================*/

  #about img{
    max-width: 50%;
    margin: 0 auto;
  }
  #about img, #portfolio img{
    max-width: 100%;
  }

  #work .col-2{
    margin: 5% 0;
  }

  /*===================
  Buttons:
  Primary:#000099
  Secondary:#0000E5
  =====================*/

  .view-project{
    background-color: #000099;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0;
  }

  .view-project:hover{
    opacity: .8;
  }

  .view-project p{
    display: inline-block;
    width: 100px;
  }

  .button{
    border-radius:10px;
    border-style:solid;
    border-color:#000099;
    display: inline-block;
    font-family:inherit;
    color:#000099;
    font-size:16px;
    padding: 10px;
    margin: 2% 0;
  }

  .button:hover{
    color:white;
    background-color:#000099;
  }

  /*===================
  Media Queries
  =====================*/

  /*===================
  Medium Devices
  =====================*/

  @media (max-width: 991px) {

        .page-padding{
          padding: 40px 15px;
        }

        .view-project{
          float: right;
        }
  }

  /*===================
  Small Devices
  =====================*/

  @media (max-width: 767px) {


}

  /*===================
  Extra Small Devices
  =====================*/

  @media (max-width: 575px) {

    .col-2 {
      width: 100%;
      margin-right: 0;
      float: none;
    }

  }
